* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: verdana;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: grey;
}

h1 {
    font-size: 28px;
    color: white;
}

#headerNav ul{
    display: flex;
}

#headerNav ul li {
    margin-right: 12px;
}

#headerNav ul li a {
    font-size: 20px;
    color: white;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding: 24px 0;
}

#ulFooter {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 24px;
    color: white;
}

#ulFooter li a{
    color: white;
}

h2 {
    color: white;
}

#flexSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 64px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 48px;
}

form input {
    margin-top: 12px;
    border: black solid 1px;
    height: 24px;
    padding: 0 12px;
    
}

.cardProject {
    width: 40%;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 24px;
}

.cardProject h4 {
    background-color: black;
    padding: 5px 10px;
    color: white;
}

#privacy p{
    margin-top: 12px;
}

#privacy h2 {
    margin-top: 24px;
}

#pricavyTitle {
    color: black;
    font-size: 32px;
    text-align: center;
    margin-top: 32px;
}